body{
    color: #30353a;
    background-color: #d3d5d8;
}

nav{
    color: #30353a;
    background-color:#b1b6bb; 
}


img {

    height: 19vh;
    width: 19%;
    margin: 1px;
}


.center-button {
    display: flex;
    align-items: center;
    justify-content: center
}

button {
    margin-left: 20px;
}


.stopwatch-inline{
    display: inline-block;
}


.font-button{
    color: #30353a;
    background-color:#b1b6bb; 
    
}

